html{
    font-size: 14px;
    font-family: Microsoft JhengHei;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .rwdtxt {
    font-size: 2.0rem;
    color:white;
  }
  @media (min-width: 600px) and (max-width: 1200px) {
    .rwdtxt {
        font-size: calc(2.0rem + (5.0-2.0) * ((100vw - 600px) / (1200 - 600)));
        color:white;
    }
  }
  @media (min-width: 1200px) {
    .rwdtxt {
       font-size: 5.0rem;
       color:white;
    }
}

#site-header {
    position: fixed;
    width: 1440px;
    height: 49px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#site-header.clr::after {
    display: none;
}

#select{
    position: fixed;
    width: 34px;
    height: 34px;
    left: 21px;
    top: 7px;
}

#lapsee{
    position: fixed;
    left: 85px;
    top: 7px;
}
.come_soon{
    position: relative;
    align-items: center;
    text-align: center;
    display: inline-block;
    height: auto;
}
.center{
    align-items: center;
    text-align: center;
}

.bg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    min-width: 1000px;
    width: 100%;
}

.box{
    margin: auto;
}
.box4 .content{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -35px;
    text-align: center;
}